/* HUD */

#toast-container {
  position: fixed;
  top: 20%;
  right: 2%;
  z-index: 9999;
  color: #fff;
}

.toast {
  margin-bottom: 16px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.toast-kill {
  background: linear-gradient(90deg, #07ff88 -12.68%, rgba(0, 0, 0, 0.07) 100%);
}

.toast-other {
  background: linear-gradient(
    90deg,
    #ffffff3b -12.68%,
    rgba(0, 0, 0, 0.07) 100%
  );
}

.toast-killed {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, #ff003d 126.12%);
}

.bullet-msg {
  padding-left: 24px;
  padding-right: 40px;
}

.killer-name {
  padding-left: 16px;
}

.victim-name {
  padding-right: 16px;
}
