@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap");
* {
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

div::-webkit-scrollbar {
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67.86%;
  height: 65.83%;
  display: block;
  opacity: 1;
  transition: opacity 1s;
  transition-duration: 1s;
  overflow: hidden;
}
