/* HUD */

#toast-container {
  position: fixed;
  top: 20%;
  right: 2%;
  z-index: 9999;
  color: #fff;
}

.toast {
  margin-bottom: 16px;
  padding: 8px;
}

.toast-kill {
  background: linear-gradient(90deg, #07ff88 -12.68%, rgba(0, 0, 0, 0.07) 100%);
}

.toast-other {
  background: linear-gradient(
    90deg,
    #ffffff3b -12.68%,
    rgba(0, 0, 0, 0.07) 100%
  );
}

.toast-killed {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, #ff003d 126.12%);
}

.bullet-msg {
  padding-left: 24px;
  padding-right: 40px;
}

.killer-name {
  padding-left: 16px;
}

.victim-name {
  padding-right: 16px;
}

.progress-bars {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.health-progress-bar {
  width: 516px;
  height: 18px;
  background-color: #000000;
  border-radius: 5px;
  margin: 10px;
}

.health-progress {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  border-radius: 1px;
}

.health-green {
  background-color: #00ff47;
  box-shadow: 0px 0px 6px #00ff47;
}

.health-light-yellow {
  background: #ebff00;
  box-shadow: 0px 0px 6px #ebff00;
}

.health-orange {
  background: #ff6b00;
  box-shadow: 0px 0px 6px #ff6b00;
}

.health-yellow {
  background: #ffb800;
  box-shadow: 0px 0px 6px #ffb800;
}

.health-red {
  background: #ff0000;
  box-shadow: 0px 0px 6px #ff0000;
}

.armor-progress-bar {
  width: 516px;
  height: 8px;
  background-color: #000000;
  border-radius: 5px;
  margin: 10px;
}

.armor-progress {
  width: 100%;
  height: 100%;
  background-color: #00c2ff;
  box-shadow: 0px 0px 6px #00c2ff;
  border-radius: 5px;
}

.stats-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-top: 0.3rem;
  color: white;
}

.ammo-container {
  display: flex;
  flex-direction: column;
  color: white;
}

#clip-ammo {
  font-size: 40px;
}

#total-ammo {
  font-size: 16px;
}

.kd-numbers {
  font-style: normal !important;
  font-size: 1.45rem;
  display: none;
  position: fixed;
  bottom: 15%;
  left: 22.75rem;
}

.kd-number {
  color: white;
  display: inline-block;
  vertical-align: middle;
  padding-top: 2rem;
}

.kd-image {
  padding-top: 2rem;
  padding-right: 0.5rem;
  display: inline-block;
  vertical-align: middle;
}

/* .clock {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
} */

.timer {
  display: inline-block;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

/* .match-timer {
  margin-left: 0;
  display: inline-block;
  width: 133px;
  height: 56px;
  line-height: 56px;
  padding-left: 10px;
  color: white;
  background: linear-gradient(
    90deg,
    #ffffff 0.38%,
    rgba(210, 210, 210, 0.823901) 0.38%,
    rgba(170, 170, 170, 0.666667) 0.38%,
    rgba(129, 129, 129, 0.507383) 0.39%,
    rgba(77, 77, 77, 0.302083) 48.02%,
    rgba(0, 0, 0, 0) 109.26%
  );
}

.v-line {
  background: #beff17;
  box-shadow: 0px 0px 2px #beff17;
  border-radius: 48px;
  width: 3px;
  margin-top: -2px;
  margin-bottom: -2px;
} */

.timer-container {
  display: none;
  position: fixed;
  bottom: 7%;
  left: 22.5rem;
  color: #fff;
}

.timer-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 0.25rem solid #ffffff;
}

.timer-inner {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  /* background: conic-gradient(#00ff47 50%, 0, rgba(255, 255, 255, 0)); */
}

.line {
  margin-top: 0.15rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  height: 90%;
}
