@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap");
* {
  user-select: none;
  font-family: "Noto Sans";
  font-style: italic;
}

/* body {
  background-color: black;
} */

/* div {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
} */

div::-webkit-scrollbar {
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 67.86%;
  height: 65.83%;
  display: none;
  opacity: 0;
  transition: opacity 1s;
  transition-duration: 1s;
  overflow: hidden;
}

.card-container {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  border: 0.5px solid #ffffff;
  border-radius: 16px;
}

.create-container {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  border: 0.5px solid #ffffff;
  border-radius: 16px;
  overflow: hidden;
  color: #ffffff;
}

.card-bg {
  object-fit: cover;
  bottom: 0em;
}

.card {
  position: relative;
  width: 29.24%;
  height: 83%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.create-card {
  background: url(assets/create-card-bg.svg), rgba(255, 214, 0, 0.05);
  box-shadow: 0 0 10px rgba(255, 214, 0, 0.05);
}

.join-card {
  background: url(assets/join-card.svg), rgba(67, 253, 129, 0.05);
  box-shadow: 0 0 10px rgba(255, 214, 0, 0.05);
}

.leader-board {
  background: url(assets/leaderboard-card.svg), rgba(0, 209, 255, 0.05);
  box-shadow: 0 0 10px rgba(0, 209, 255, 0.05);
}

.tdm-card {
  background: url(assets/tdm-bg.svg), rgba(113, 6, 197, 0.05);
  box-shadow: 0 0 10px rgba(255, 214, 0, 0.05);
}

.death-card {
  background: url(assets/dm-bg.svg), rgba(8, 202, 191, 0.05);
  box-shadow: 0 0 10px rgba(255, 214, 0, 0.05);
}

.tdm-button {
  border: 1px solid #ffda17;
}

.dm-button {
  border: 1px solid #2ef75a;
}

.close {
  position: fixed;
  right: 2.7rem;
  top: 0em;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.card-title {
  position: fixed;
  top: 4em;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
}

.card-btn {
  position: fixed;
  top: 8em;
  border-radius: 8px;
  background-color: #ffd81700;
  width: 20%;
  height: 10.5%;
  font-weight: 800;
  font-size: 1.7em;
  line-height: 54px;
  color: #ffffff;
  cursor: pointer;
}

.create-button {
  border: 1px solid #ffda17;
}

.join-button {
  border: 1px solid #2ef75a;
}

.leaderboard-button {
  border: 1px solid #00d1ff;
}

.create-card:hover .card-btn {
  background: linear-gradient(94.61deg, #ffe70c 0.64%, #ff7a00 98.19%);
  box-shadow: 0px 0px 10px #ffab06;
  transition: background-color 0.5s ease;
}

.create-card:hover .card-bottom-image {
  transform: scale(1.17);
  transform-origin: bottom;
  transition: transform 0.5s ease;
}

.create-card:hover {
  box-shadow: 0px 0px 74px #ffb206;
  background-color: rgba(255, 214, 0, 0.05);
}

.join-card:hover .card-btn {
  background: linear-gradient(90.96deg, #2fe957 3.47%, #0b9c08 99.32%);
  box-shadow: 0px 0px 10px #3def40;
  transition: background-color 0.5s ease;
}

.join-card:hover .card-bottom-image {
  transform: scale(1.17);
  transform-origin: bottom;
  transition: transform 0.5s ease;
}

.join-card:hover {
  box-shadow: 0px 0px 72px #2ee757;
}

.leader-board:hover .card-btn {
  background: linear-gradient(90.63deg, #00d1ff 0.59%, #0066ff 99.69%);
  transition: background-color 0.5s ease;
}

.leader-board:hover .card-bottom-image {
  transform: scale(1.17);
  transform-origin: bottom;
  transition: transform 0.5s ease;
}

.leader-board:hover {
  box-shadow: 0px 0px 72px #00d1ff;
}

.card-bottom-image {
  position: absolute;
  bottom: 0;
}

.tdm-card:hover .card-btn {
  background: linear-gradient(95.62deg, #7106c5 1.34%, #4a0182 96.99%);
  box-shadow: 0px 0px 15px #7006c4;
  transition: background-color 0.5s ease;
}

.tdm-card:hover .card-bottom-image {
  transform: scale(1.17);
  transform-origin: bottom;
  transition: transform 0.5s ease;
}

.tdm-card:hover {
  box-shadow: 0px 0px 74px #7207c7;
}

.death-card:hover .card-btn {
  background: linear-gradient(95.98deg, #09c0b5 3.86%, #09c380 96.27%);
  box-shadow: 0px 0px 15px #09c0b2;
  transition: background-color 0.5s ease;
}

.death-card:hover .card-bottom-image {
  transform: scale(1.17);
  transform-origin: bottom;
  transition: transform 0.5s ease;
}

.death-card:hover {
  box-shadow: 0px 0px 72px #09c0b4;
}

.tdm-button {
  border: 1px solid #7207c6;
}

.dm-button {
  border: 1px solid #09c6bb;
}
.coming-soon-card {
  color: #ffffff;
  border: 3px #ffffff;
}
/* remove this */
.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
  z-index: 0;
}

.map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  max-height: 80%;
  min-height: 80%;
}

.map {
  position: relative;
  /* background-image: url("assets/maps/sandy.png"); */
  background-size: cover;
  background-position: center;
  width: 212px;
  height: 148px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-name-container {
  font-size: 12px;
  position: absolute;
  bottom: 0.3rem;
  width: 80%;
  height: 25%;
  color: white;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border: 0.5px solid #ffffff;
  border-radius: 8px;
  transition: width 0.35s, height 0.35s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-name-container:hover {
  width: 100%;
  height: 100%;
  bottom: 0;
  border: none;
}

.map-name-container-selected {
  width: 100%;
  height: 100%;
  bottom: 0;
  box-shadow: inset 0px 0px 8px #17ffac;
}

.confirm-dmatch-btn {
  color: white;
  position: absolute;
  border: 1px solid #ffda17;
  background-color: #ffd81700;
  border-radius: 8px;
  width: 10%;
  height: 8%;
  right: 2rem;
  bottom: 1rem;
  font-weight: 800;
  font-size: 20px;
}

.confirm-dmatch-btn:hover {
  background: linear-gradient(91.84deg, #ffe20c 1.07%, #ff8001 98.75%);
  box-shadow: 0px 0px 10px #ffde0b;
}

.title-text {
  position: absolute;
  top: 0.5rem;
  left: 2rem;
  color: #ffffff;
}

.title-text:after {
  content: " ";
  height: 1px;
  width: 630%;
  background: rgb(255, 255, 255);
  display: block;
  position: absolute;
  top: 50%;
  right: -650%;
}

.match-container {
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  height: 80%;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 80%;
}

.match {
  width: 100%;
  min-height: 17%;
  margin-top: 2%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border: 1px solid #00d1ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.match:hover {
  box-shadow: 0px 0px 9px #00d1ff;
}

.match-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  color: white;
  margin-left: 2rem;
}

.match-contents {
  display: flex;
  align-items: center;
  height: 100%;
  width: 20%;
}

.match-text {
  margin-left: 1rem;
}

.match-select-btn {
  border: 1px solid #01ccff;
  border-radius: 8px;
  color: white;
  background-color: #ffd81700;
  font-weight: 800;
  font-size: 20px;
  width: 60%;
  height: 50%;
  margin-left: 3rem;
}

.match-select-btn:hover {
  background: linear-gradient(90deg, #01d0ff 2.78%, #0168ff 97.02%);
  box-shadow: 0px 0px 25px #00d1ff;
}

.tdm-join-card-blue {
  border: 1px solid blue;
}

.tdm-join-card-red {
  border: 1px solid red;
}

.card-tdm-team {
  display: flex;
  width: 35%;
  height: 90%;
  gap: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-tdm-team-right {
  display: flex;
  width: 20%;
  height: 90%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.tdm-team-join-button {
  position: relative;
  border-radius: 8px;
  background-color: #ffd81700;
  width: 90%;
  height: 10.5%;
  font-weight: 800;
  font-size: 1.7em;
  line-height: 54px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 15px;
}

.tdm-start-btn {
  border-radius: 8px;
  color: white;
  background-color: #ffd81700;
  font-weight: 800;
  font-size: 20px;
  width: 100%;
  height: 10%;
  border-color: #ffffff;
}

.tdm-player-list-settings {
  width: 100% !important;
  background-color: #1d1d1d8f;
}

.tdm-start-btn:hover {
  box-shadow: 0px 0px 15px #c0bfbed7;
}

.tdm-blue-btn {
  border: 1px solid #174dff;
}

.tdm-blue-btn:hover {
  box-shadow: 0px 0px 15px #0066ff;
}

.tdm-red-btn {
  border: 1px solid #ff1f17;
}

.tdm-red-btn:hover {
  box-shadow: 0px 0px 15px #ff4800;
}

.tdm-player-list {
  width: 90%;
  height: 100%;
  border-radius: 16px;
  overflow-y: auto;
}

.tdm-player-list-blue {
  background-color: rgba(57, 57, 241, 0.479);
}

.tdm-player-list-red {
  background-color: rgba(241, 57, 57, 0.363);
}

.tdm-player-item {
  position: relative;
  text-align: center;
  padding: 8px;
  border: 1px solid #585555;
  border-radius: 16px;
  margin-bottom: 2px;
}

.tdm-player-item:first-child {
  margin-top: 16px;
}

.tdm-owner {
  border-color: #efbf04;
}

.tdm-time-input {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.tdm-select {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  padding: 10px;
  width: 95%;
  border-radius: 16px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
      no-repeat right 0.8em center / 1.4em,
    linear-gradient(
      to left,
      rgba(255, 255, 255, 0.3) 3em,
      rgba(255, 255, 255, 0.2) 3em
    );
  color: rgb(190, 188, 188);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.tdm-delete-player {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.tdm-owner-player {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 15px;
}

.tdm-create-pass {
  width: 60%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #ffffff;
  border-radius: 16px;
}

.tdm-create-pass-btn {
  width: 80%;
  border-radius: 8px;
  color: white;
  background-color: #ffd81700;
  font-weight: 800;
  font-size: 20px;
  height: 10%;
  border-color: #ffffff;
  margin-bottom: 16px;
  cursor: pointer;
}

.tdm-create-pass-form {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tdm-create-pass-btn:hover {
  box-shadow: 0px 0px 10px #f4f6f7;
}

.tdm-password-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tdm-private-pass {
  width: 100%;
  margin-bottom: 12px;
}

.tdm-password-label input {
  border-radius: 16px;
  width: 80%;
  height: 24px;
}

.tdm-invalid-password {
  color: red;
  font-size: 12px;
}